{% from "base.html" import render_scrolltotop, render_aboutus, render_ourcauses, render_faq, render_contactus, render_ourteam, render_sponsors, render_subscribenews, render_takeaction, render_footer, render_js, render_register, render_formseed, render_navbar, render_css, render_donatemodal %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    {% if title %}
    <title>Register Admin - {{ title }}</title>
    {% else %}
    <title>Register Admin</title>
    {% endif %}

    {{ render_css(render) }}
</head>


<body class="login-body">
<section id="login" class="admin1">

	<div class="container admin11">
		
		<div class="login-content pt-5 pb-5">
			<div class="card">
				<div class="col-md mb-0">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
						  <li class="breadcrumb-item"><a href="register.html">Register</a></li>
						  <li class="breadcrumb-item" aria-current="page"><a href="donate.html">Donate</a></li>
						</ol>
					  </nav>
				   </div>
				<div class="card-body">
					
					<form class="text-left" method="POST" action="{{ url_for('admin.registeradmin') }}">
						<div class="col-md p-1" id="flash_message">
							{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
								{% if category == 'success' %}
								<div class="alert alert-success" role="alert">
									{{ message }}!
								</div>
								{% endif %}
								{% endfor %}
							{% endif %}
							
							{% if messages %}
								{% for category, message in messages %}
								{% if category == 'error' %}
								<div class="alert alert-danger" role="alert">
									Error:  {{ message }}!
								</div>
								{% endif %}
								{% endfor %}
							{% endif %}
							{% endwith %}
						</div>
						<div class="col-md text-center">
                            <img src="../static/images/avatar.svg">
						<h2 class="title">Register Admin</h2>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="enter firstname" required>
                        </div>

                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="enter lastname" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="enter email" required>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="enter username" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="enter password" required>
                        </div>

                        <div class="form-group col-md mt-4 text-center">
                            <p>By clicking the “Create My Account” button, you agree to Donate A Seed's
                                 <a href="#">terms of acceptable use</a>.
                            </p>
                        </div>

						<input type="submit" class="btn mt-2" value="register">
					</form>
					<div class="col-md text-center">
						<a href="login.html" class="text-center">Already have an account? Login</a>
					</div>
				</div>
			</div>
				
        </div>
    </div>
    <script type='text/javascript' src='../static/js/main.js'></script>
</section>
</body>





</html>
