{% from "base.html" import render_aboutus, render_ourcauses, render_faq, render_contactus, render_ourteam, render_sponsors, render_subscribenews, render_takeaction, render_footer, render_js, render_css, render_donatemodal, render_scrolltotop %}

<!DOCTYPE html>
<html>
<head>
	<title>Delete Products</title>
    {{ render_css(render) }}

</head>
<body>
	<section>
		<!--navbar-->

		<!--content-->
		<div class="container">
			<div class="card">
				<div class="card-body">
                    
				</div>
			</div>
		</div>
	</section>
    {{ render_js(render) }}

</body>
</html>