{% from "/storebase.html" import render_aboutus, render_ourcauses, render_faq,
render_contactus, render_ourteam, render_sponsors, render_subscribenews,
render_takeaction, render_footer, render_js, render_css, render_donatemodal,
render_scrolltotop %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Cart</title>

    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='dcarousel/owl.carousel.min.css')}}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='dcarousel/owl.theme.default.min.css')}}"
      type="text/css"
      media="all"
    />

    <!--script src="../static/js/featured.js" defer></script-->

    {{ render_css(render) }}
  </head>

  <body>
    <section id="store">
      <!--top navbar-->
      <section class="top-nav">
        <nav class="navbar">
          <ul class="nav">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-facebook-f"></i>
          </ul>

          <ul class="nav mr-sm-2 auth">
            <li class="nav-item">
              <a class="nav-link" href="/donate">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In / Sign Up</a>
            </li>
          </ul>
        </nav>
      </section>

      <!--second nav bar-->
      <section class="bottom-nav">
        <nav class="navbar">
          <a href="/shop.html" class="navbar-brand">
            Logo
          </a>

          <form class="form-inline">
            <input
              class="form-control"
              type="search"
              placeholder="Search product"
              aria-label="Search product"
            />
            <button class="btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>

          <ul class="mr-sm-2 navbar-nav nav-right">
            <div class="account">
              <a href="profile.html" title="My account">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <p>Account</p>
              </a>
            </div>

            <div class="wishlist">
              <a href="wishlist.html" title="Wishlist">
                <div class="icon">
                  <i class="fa fa-heart"></i>
                  <!--span class="wishlist-count badge">3</span-->
                </div>
                <p>Wishlist</p>
              </a>
            </div>

            <div class="cart">
              <a href="{{url_for('store.getCart')}}" title="Cart">
                <div class="icon">
                  <i class="fa fa-shopping-cart"></i>
                  <!--span class="wishlist-count badge">3</span-->
                </div>
                <p>Cart ({{session['ShoppingCart']|length}})</p>
              </a>
            </div>
          </ul>
        </nav>
      </section>
      <div class="dropdown-divider dd"></div>

      <div class=" container col-md-4 p-1 text-center" id="flash_message">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}!
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">
            Error: {{ message }}!
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

      <section id="cart">
        <div class="container text-center">
          <h1 class="p-4">ORDER</h1>
        </div>
        <div class="container pb-0 mb-0">
          <p>Invoice: {{orders.invoice}}</p>
              <p>Status: {{orders.status}}</p>
              <p>Fullname: {{customer.firstname}} {{customer.lastname}}</p>
              <p>Username: {{customer.username}}</p>
              <p>Email: {{customer.email}}</p>
              <p>Phone Number: +234 {{customer.phone}}</p>
        </div>
        <div class="container p-5">
          <div class="col-md conater mt-5 p-2 ">
              
            <table class="table table-sm col-md table-bordered">
              <h3 class="text-center m-2">Products</h3>
              <thead>
                <th>#</th>               
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
              </thead>
              <tbody>
                {% for key, product in orders.orders.items() %} {% set
                discount = "%0.2f" |format((product.discount/100) *
                product.price|float) %}

                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{product.name}}</td>
                  <!--edit-->
                  
                    <td>&#x20A6;{{product.price}}</td>
                    <td>
                      {{product.quantity}}
                    </td>
                    {% if product.discount > 0 %}
                    <td>{{product.discount}}%</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    
                    {% set subtotal = product.quantity|int * product.price|float
                    %}
                    <td>
                      &#x20A6;{{"%0.2f"|format((subtotal|float) -
                      discount|float)}}
                    </td>
                    <!--edit-->
                    
                  
                  
                 
                </tr>
                {% endfor %}
                <tr class="text-center">
                  <td>
                    <a href="/shop.html" class="btn btn-primary btn-sm">
                      Continue Shopping
                    </a>
                  </td>
                  <td colspan="3"><h4>Tax: &#x20A6;{{tax}}</h4></td>
                  <td colspan="4"><h4>Total: &#x20A6;{{grandTotal}}</h4></td>
                 

                 
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md"></div>
        </div>
      </section>
    </section>

    {{ render_js(render) }}
  </body>
</html>
