@import url('https://fonts.googleapis.com/css2?family=PT+Sans:200,300,300i,400,400i,500,500i,600,600i,700,800&display=swap');

body {
    background-size: cover;
    background-position: center;
}



input {
    /**background: #fff !important;**/
    font-family: "PT Sans", sans-serif;
    border-radius: 0px !important;
}

.form-control::placeholder {
    font-family: "PT Sans", sans-serif !important;
	color: #6c757d;
	opacity: 1;
}


.card,
.card-header {
    font-family: "PT Sans", sans-serif;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
}

.btn-link {
    width: 100%;
    height: 60px;
    color: #fff !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}

.card-body {
    background: #f4f4f4;
    color: #111;
    font-size: 15px;
}

.btn-link::after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background-color: rgb(37, 53, 38);
}

.btn-link.collapsed::after {
    content: '\002B'
}

.btn-link::before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #ecb338;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;
}

.card-header {
    background-color: #ecb338 !important;
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);

}

#faq {
    background-image: url(../images/grass-black.jpg);
    background-position: center;
    background-size: cover;

}

#faq h3 {
    color: #fff;
    font-weight: 400;
}


#faq .pic {
    border-radius: 50px;
    background-color: red;
}

#contact-us {
    padding: 5px;
    background-image: url(../images/body.svg) !important;
}

#our-causes {
    font-family: "PT Sans", sans-serif;
    background-image: url(../images/body.svg) !important;
}

#register {
    font-family: 'PT Sans', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    background-size: cover;
    background-position: fixed;
    background: #f1f1f1;
}

#register .wave {
    position: fixed !important;
    height: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: -1 !important;
}

#register .img {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

#register .img img{
    width: 500px;
}

.avatar {
    width: 100px;
}

#register a{
    display: block !important;
    text-decoration: none !important;
    color: green !important;
    font-size: 1rem !important;
    transition: .3s !important;
}

#register .login-container{
    background-color: #fff;
    border-radius: 30px;
    display: -moz-grid-group;
    align-items: center;
}

#register h1{
    color: #000;
}

#register input,select{
    background-color: #fff !important;
    display: grid !important;
    grid-template-columns: 7% 93% !important;
    margin: 25px 0 !important;
    font-size: 1.2rem;
    color: #555;
    border-radius: 0px !important;
    padding: 5px 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid #d9d9d9 !important;
}

#register select{
    margin-top: 30px !important;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
top: -2px !important;
font-size: 12px !important;
color: #4b9355 !important;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    font-family: "PT Sans", sans-serif !important;
    color: #555 !important;
    font-size: 14px !important;
    transition: .3s !important;
    text-transform: capitalize;
  }
  
#register .form-control::placeholder {
	font-family: "PT Sans", sans-serif !important;
    color: #999 important;
    font-size: 15px important;
    transition: .3s important;
}

#register input:focus{
    transition: .5s !important;
    border-bottom: 2px solid #4b9e55 !important;   
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

#register select:focus{
    transition: .5s !important;
    border-bottom: 2px solid #4b9e55 !important;   
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

#register a:hover{
    color: #4b9e55 !important;
}


/**login**/
#login{
    background-color: #fff !important;
}

#login .wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

#login .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
   
}

#login .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#login .login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

#login .img img{
	width: 500px;
}

#login form{
	width: 360px;
}

#login .login-content img{
    height: 100px;
}

#login .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

#login .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

#login .login-content .input-div.one{
	margin-top: 0;
}

#login .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login .i i{
	transition: .3s;
}

#login .input-div > div{
    position: relative;
	height: 45px;
}

#login .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

#login .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

#login .input-div:before{
	right: 50%;
}

#login .input-div:after{
	left: 50%;
}

#login .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

#login .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

#login .input-div.focus > .i > i{
	color: #38d39f;
}

#login .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

#login .input-div.pass{
	margin-bottom: 4px;
}

#login a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

#login a:hover{
	color: #38d39f;
}

#login .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
#login .btn:hover{
	background-position: right;
}

.custom-file {
	/* position: relative; */
	/* display: inline-block; */
	/* width: 100%; */
	/* height: calc(1.5em + .75rem + 2px); */
	margin-top: 11px !important;
	/* border-radius: 0px; */
}

.custom-file-label.rounded-pill {
    border-radius: 50rem;
  }
  
  .custom-file-label.rounded-pill::after {
    border-radius: 0 50rem 50rem 0;
  }

.form-check-label {
	margin-bottom: 0;
	color: #000;
	font-size: 15px;
	margin-left: 10px;
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 1050px){
	#login .container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	#login form{
		width: 290px;
	}

	#login .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	#login .img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	#login .container{
		grid-template-columns: 1fr;
	}

	#login .img{
		display: none;
	}

	#login .wave{
		display: none;
	}

	#login .login-content{
		justify-content: center;
	}
}
/**endlogin**/

#sponsors {
    font-family: "PT Sans", sans-serif;
    padding: 5px;
    background: #e3edf7;
}

#sponsors h1 {
    font-weight: 500;
   
    text-align: center;
    color: #4b9e55;
}


.bb{
    margin-top: 110px !important;
}

#flash_message a {
	 display: contents;
	 text-align: none;
	 text-decoration: none;
	 color: #32be8f;
	 font-size: none;
	 transition: none;
}

.humm{
    margin-left: 100px;
}

.social-media{
    display: flex;
    justify-content: center;
}

#sponsors a {
	background-attachment: fixed;
	display: flex;
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px #e3edf7;
	transition: transform 0.5s;
}


#sponsors a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                -0.5px -0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);

    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);

}

#sponsors a:hover i{
    transform: scale(0.90);
}

#sponsors a i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

#sponsors a:hover .fa-facebook{
    color: #3b5998;
}

#sponsors a:hover .fa-github{
    color: #a000fd;
}

#sponsors a:hover .fa-slack{
    color: #ff9100;
}

#sponsors .andela {
    font-weight: 600 !important;
    color: #555 !important;
    font-size: 20px !important;
}

#sponsors a:hover .andela{
    color: #0051ff;
}

#take-action {
    background-image: url(../images/background-2.jpg);
    background-size: cover;
}

#take-below {
    background-color: rgba(0, 0, 0, 0.51);
}

.btn-donate {
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    background-color: #ecb338;
	width: 100px;
	display: block;
	position: absolute;
	top: 0px;
    bottom: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
	border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #967b40;
}

.btn-donate:hover{
    background-color: #ce9825;
    border-color: #ecb338;
    transition: .5s;
}

#donate-popup .btn-primary{
    margin-bottom: 10px;
    margin-left: 17px;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal1-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name:modalopen;
    animation-duration: .7s;
}

.closeBtn{
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
    color: #ecb338;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{ opacity:0 }
    to{ opacity:1 }
}

.modal-header{
    border-radius: 0px !important;
    background: #4b9e55;
    padding: 15px;
    color: #fff;
}
.modal-header h3 , .modal-footer h3{
    color: #fff;
    margin: 0;
}

.modal-body{
    padding: 10px 20px;
}

.modal-footer{
    border-radius: 0px !important;
    background: #4b9e55;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.btn-primary{
    border: none !important;
    background: #4b9355;
    color: #fff;
    margin: 20px 9px 0px;
    font-size: 13px;
    padding: 17px 36px;
    font-weight: 800 !important;
    text-transform: uppercase;
    border-radius: 2px;
}

.h3r{
    display: contents;
}

.not-a{
padding-top: 20px;
font-weight: 555;
text-decoration: none;
}

.btn-primary:hover{
    background: #316b37;
    color: #fff;
    border: none !important;
}

.greennature-skin-dark-skin .greennature-button2{
    background: #ecb338;
    color: #fff;
    margin: 20px 9px 0px;
    font-size: 13px;
    padding: 17px 36px;
    font-weight: 800 !important;
    text-transform: uppercase;
    border-radius: 2px;
}

.greennature-skin-dark-skin .greennature-button2:hover{
    background: #ecb338;
    color: #fff;

}

#btnScrollToTop{
    align-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #4b9e55;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

#btnScrollToTop:active{
    background: #245329;
}

.msp-cn-1-7{
    left:290px !important;
    top: 498px;
}

@media only screen and (max-width: 700px) {
    .ms-btn-container, .msp-cn-1-3, .msp-cn-1-2, .msp-cn-1-1, .msp-cn-1-5, .msp-cn-1-9{
        left: 10px !important;
    }

    #register .login-container {
        background-color: #fff;
        border-radius: 0px;
        display: -moz-grid-group;
        align-items: center;
    }

    #sponsors a {
        margin-top: 20px;
    }

    #register {
        background: #fff;
    }

    .humm {
        margin-left: 0 !important;
    }

    .man {
        display: none;
    }

    .donatelink{
        background-color: #ff9100 !important;
    }

    #faq .col {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #faq .p-2 {
        padding: 0rem !important;
    }

    #faq .container{
        padding-bottom: 10px !important;
    }
    
    .modal1-content {
        background-color: #f4f4f4;
        margin: 20px;
        width: 90%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: .7s;
    }

    .modal-body {
        padding: 0px;
    }


    .msp-cn-1-7{
        left: 115px !important;
        top: 149.822px;
    }

    .greennature-skin-brown-column-service{
        background-color: #2d2418;
        border-top: 5px solid #3f3221;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: -1px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .greennature-column-service-item.greennature-type-2 {
        text-align: center !important;
        padding: 30px 1px 30px 1px !important;}

    .greennature-action-ads-item {
        padding: 10px 20px 17px !important;
    }

    body .container {
        max-width: 330px !important;
        }

    .six.columns {
        padding-top: 10px !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    #our-team{
        padding: 5px !important;
    }

    .greennature-personnel-item.plain-style .personnel-author-image {
        margin-top: 10px !important;
    }

    .container.p-4{
        padding: 0px !important;
    }

    .h3r h3{
        font-size: 25px !important;
        text-align: center !important;
        font-weight: 600 !important;
        text-transform: capitalize !important;
    }

    #register .container {
        border-radius: 2px;
    }

    #register .p-4 {
        padding: 2px !important;
    }

    #greennature-parallax-wrapper-1 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

.donatelink {
    background-color: #ff9100 !important;
}

.greennature-skin-brown-column-service {
    background-color: #2d2418;
    border-top: 5px solid #3f3221;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -60px;
}

.column-service-content .counter {
    font-family: "PT Sans", sans-serif;
    font-size: 80px;
    font-weight: 600;
}

#footer {
    font-family: "PT Sans", sans-serif;
}

.footer-wrapper a {
    font-weight: normal;
    text-transform: capitalize;
}


#shop header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/act-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#shop .hero {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: "PT Sans", sans-serif;

}

#shop h1 {
    font-size: 60px;
    letter-spacing: 15px;
    color: #fff;
}

#shop hr {
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

#shop p {
    font-size: 20px;
    margin-bottom: 30px;
}

#launch {
    font-size: 40px;
    word-spacing: 20px;
}

.donate-body .navbar-dark {
    font-family: "PT Sans", sans-serif;
    background-color: #4b9e55;
}

.navbar-nav {
    font-family: "PT Sans", sans-serif;
    background: #ecb338;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 2px;
    font-weight: 500;
    color: #fff;
}

.donate-form {
    font-family: "PT Sans", sans-serif;
    background: #fff;
}

#donate {
    background: #fff;
    font-family: "PT Sans", sans-serif !important;
}

#donate input {
    background: #f4f4f4 !important;
    border: 1px solid #ced4da !important;
}

.personnel-author-image img {
	width: 220px !important;
	height: 220px !important;
	align-items: center;
	display: flex;
	margin-left: 40px;
	border: 1px solid #ced4da;
	padding: 2px;
	border-radius: 5px;
}

.alert{
    text-align: center !important; 
    margin-top: 1rem !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}



#our-team {
    color: #222;
    font-family: "PT Sans", sans-serif;
    background: rgba(0, 0, 0, 0.5);
    background-image: url('../images/leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
  }


  .team-tag{
      height: 100%;
  }

  #our-team ul, ol, i {
    margin-left: 0;
    margin-right: 0;
}


  
  #our-team .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  #our-team .social-link:hover,
  #our-team .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  #our-team .rounded {
    border-radius: 50%;
  }

#faq h4,h1{
    color: #fff;
}
  
#our-team h1 {
    color: rgb(61, 61, 61);
}


